<nav>
    <img src="https://i.pinimg.com/originals/7f/aa/f1/7faaf1cfef027db48a9e837c56b1aa3b.png" alt="">
    <div>
        <a href="#">Favourite Quotes</a>
        <a href="#">Home</a>
    </div>

</nav>